accelerate==1.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==4.0.3
attrs==24.2.0
av==13.1.0
bitsandbytes==0.44.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
contourpy==1.3.0
cycler==0.12.1
datasets==3.1.0
dill==0.3.8
einops==0.6.1
einops-exts==0.0.4
fastapi==0.115.3
ffmpeg==1.4
ffmpy==0.4.0
filelock==3.16.1
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.9.0
gradio==4.16.0
gradio_client==0.8.1
h11==0.14.0
hf_transfer==0.1.8
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.1
idna==3.10
importlib_resources==6.4.5
Jinja2==3.1.4
joblib==1.4.2
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
latex2mathml==3.77.0
lightning==2.4.0
lightning-utilities==0.11.8
markdown-it-py==3.0.0
markdown2==2.5.1
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
narwhals==1.10.0
networkx==3.4.2
numpy==1.26.4
ollama==0.3.3
opencv-python==4.10.0.84
orjson==3.10.10
pandas==2.2.3
pillow==10.4.0
propcache==0.2.0
protobuf==3.20.3
py-cpuinfo==9.0.0
pyarrow==18.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
pyparsing==3.2.0
python-multipart==0.0.12
pytorch-lightning==2.4.0
pytz==2024.2
pywin32==305.1
PyYAML==6.0.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rich==13.9.3
rpds-py==0.20.0
ruff==0.7.1
safetensors==0.4.5
scikit-learn==1.2.2
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.1.99
shellingham==1.5.4
shortuuid==1.0.13
sniffio==1.3.1
starlette==0.41.0
svgwrite==1.4.3
sympy==1.13.1
threadpoolctl==3.5.0
timm==0.6.13
tokenizers==0.20.1
tomlkit==0.12.0
torch==2.5.1+cu124
torchaudio==2.5.1+cu124
torchmetrics==1.5.1
torchvision==0.20.1+cu124
tqdm==4.66.5
transformers==4.46.0
typer==0.12.5
tzdata==2024.2
ultralytics==8.3.29
ultralytics-thop==2.0.11
urllib3==2.2.3
uvicorn==0.32.0
wavedrom==2.0.3.post3
websockets==11.0.3
xxhash==3.5.0
yarl==1.17.1
